 body {
      position: relative; 
  }
.logo-setting{
	height: 100px;
	width: 125px;
	margin-bottom; 100px;
}

#bg-gray{
	background-color: #205a6b;
}
.nav-padding-fix{
	padding: 0px;
}
.nav-padding-fix1{
	padding: 5px;
	
}
.text-setting-nav {
	font-family: ; 
	font-size: ;
	color: white;
}
.margin-text-setting-nav{
	margin-top:0px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#width-bt {
	width: 15px;
}

#width-sb{
	width: 20px;
}
#mtop {
	margin-top: 50px;
}
.clearfix-im  {
	
    clear: both;
}
.float-left-img{
	/*display:block;
	float: left;*/
}
.margin-top-div-section{
	margin-top: 15px;
}
.containe{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 20px;
	margin-left: auto;
}
.search-width{
	width: 40%;
}
.search-filter-margin{
	margin-right: auto;
    margin-left: auto;
	margin-bottom: 25px;
	margin-top: auto;
}
.section-bg-image{
	margin: 0px;
	padding: 150px;
	height: 100%;
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0.8;
	text-align: center;
    color: black; 
    font-family: sans-serif;	
	
	
}
.section-bg-image:hover{
	opacity: 1;
}
.button2 {
	margin-top:0px; 
    height: 35%;
    width: 15%;
    font-family: ;
    font-size: ;
    color: gray; 
    top: 50%;
    left:50%;
	
}
#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
#mtop25 {
	margin-top: 25px;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
.section-div-color {
	    background-color: gray;
}
.section-div-pos{
	    text-align: center;
	    color: white;
		font-size: 30px;
		margin-top: 5px;
}
.margin-section-between-div {
	margin-top:15px;
}
.orangecolor{
	background-color: orange;
}
#sec-div-1{
	position: center;
	text-align: center;
}
#sec-div-1:hover {
	background-color: #A9A9A9;
}
.sec-bg-1 {
	background-color: default;

}
a:link{
	text-decoration: none;
}
#mbottom {
	margin-top:50px;
	margin-bottom: 50px;
}
.text-setting-footer {
	font-family: ; 
	font-size: ;
	color: white;
}
.text-setting-footer :hover {
	
	color: white;
}
<!----------------------------------------------->
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.cclose {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.cclose:hover,
.cclose:focus {
    color: red;
    cursor: pointer;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container5 {
    padding: 16px;
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content2 {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.cancelbtn {
    width: 10%;
    height:20%;
	background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button1:hover {
    opacity: 0.8;
}
.cancelbtn:hover {
    opacity: 0.8;
}
<!---------------------------------------------------------------->
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

<!---------------------------------------------------------------->
.bodysignup{
	background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed;
    background-size: cover;
}